- semantic_form_for [@person, @public_profile], :url => person_public_profile_path(@person), :html => { :multipart => true } do |form|
  = form.inputs :name => "Public Profile" do
    = form.input :home_mobile_number, :label => 'Mobile number'
    = form.input :nickname
    = form.input :bio
    = form.input :avatar, :label => 'Headshot', :as => :file
    = form.input :avatar_cache, :as => :hidden
    = form.input :remove_avatar, :as => :boolean, :label => "Remove Headshot"
    = form.input :personal_email_address
    = form.input :chat_aim, :label => 'AIM'
    = form.input :chat_skype, :label => 'Skype'
    = form.input :username_twitter, :label => 'Twitter Username'
    = form.input :username_linkedin, :label => 'LinkedIn Username'
    = form.input :username_facebook, :label => 'Facebook Username'
    = form.input :username_flickr, :label => 'Flickr Username'
    = form.input :username_instagram, :label => 'Instagram Username'
    = form.input :website_url, :label => 'Website URL'
    = form.input :home_phone_number
    = form.input :home_fax_number
    = form.input :home_address
    = form.input :home_city
    = form.input :home_state
    = form.input :home_zip
    = form.input :home_country, :as => :select, :collection => Person::COUNTRIES, :include_blank => false
  
  = form.buttons do
    = form.commit_button