= render :partial => 'people/navigation'

%h3 Contact Information
%dl{:class => 'details'}
  %dt Personal E-mail Address
  %dd= value_with_placeholder  @public_profile.personal_email_address
  %dt Home Phone Number
  %dd= value_with_placeholder  @public_profile.home_phone_number
  %dt Home Fax Number
  %dd= value_with_placeholder  @public_profile.home_fax_number
  %dt Home Mobile Number
  %dd= value_with_placeholder  @public_profile.home_mobile_number
  %dt Home Address
  %dd= value_with_placeholder  @public_profile.home_address
  %dt Home City
  %dd= value_with_placeholder  @public_profile.home_city
  %dt Home State
  %dd= value_with_placeholder  @public_profile.home_state
  %dt Home Zip
  %dd= value_with_placeholder  @public_profile.home_zip
  %dt Home Country
  %dd= value_with_placeholder  @public_profile.home_country

%h3 Other Services
%dl{:class => 'details'}
  %dt AIM Username
  %dd= value_with_placeholder  @public_profile.chat_aim
  %dt Skype Username
  %dd= value_with_placeholder  @public_profile.chat_skype
  - if @public_profile.username_twitter.present?
    %dt Twitter
    %dd= link_to @public_profile.username_twitter, @public_profile.twitter_url

  - if @public_profile.username_linkedin.present?
    %dt LinkedIn
    %dd= link_to @public_profile.username_linkedin, @public_profile.linkedin_url

  - if @public_profile.username_facebook.present?
    %dt Facebook
    %dd= link_to @public_profile.username_facebook, @public_profile.facebook_url

  - if @public_profile.username_flickr.present?
    %dt Flickr
    %dd= link_to @public_profile.username_flickr, @public_profile.flickr_url

  - if @public_profile.username_instagram.present?
    %dt Instagram
    %dd= link_to @public_profile.username_instagram, @public_profile.instagram_url

  - if @public_profile.website_url.present?
    %dt Website
    %dd= link_to @public_profile.website_url, @public_profile.website_url
