- content_for :title do
  %h1= "#{pronoun_for_person_with_full_name(@person).titleize} Information"
- semantic_navigation :person, :html => {:class => 'tabs'} do |n|
  = n.item "#{pronoun_for_person(@person).capitalize} Summary", :link => person_path(@person)
  - if can?(:edit, @person.public_profile)
    = n.item "Public Profile", :link => edit_person_public_profile_path(@person)
  - elsif can?(:read, @person.public_profile)
    = n.item "Public Profile", :link => person_public_profile_path(@person)
  - if can?(:edit, @person.it_profile)
    = n.item "IT Profile", :link => edit_person_it_profile_path(@person)
  - elsif can?(:read, @person.it_profile)
    = n.item "IT Profile", :link => person_it_profile_path(@person)
  - if can?(:edit, @person.hr_profile)
    = n.item "HR Profile", :link => edit_person_hr_profile_path(@person)
  - elsif can?(:read, @person.hr_profile)
    = n.item "HR Profile", :link => person_hr_profile_path(@person)
  - if can?(:edit, @person.facilities_profile)
    = n.item "Facilities Profile", :link => edit_person_facilities_profile_path(@person)
  - elsif can?(:read, @person.facilities_profile)
    = n.item "Facilities Profile", :link => person_facilities_profile_path(@person)
  - if can?(:edit, @person.emergency_profile)
    = n.item "Emergency Contact", :link => edit_person_emergency_profile_path(@person)
  - elsif can?(:read, @person.emergency_profile)
    = n.item "Emergency Contact", :link => person_emergency_profile_path(@person)
  - if can?(:edit, @person.work_profile)
    = n.item "Work Contact Profile",:link => edit_person_work_profile_path(@person)
  - elsif can?(:read, @person.work_profile)
    = n.item "Work Contact Profile", :link => person_work_profile_path(@person)
