%table{:class => 'list'}
  %tr
    %th
    %th Name
    %th Title
    %th Department
    %th E-mail
    %th Phone
    %th
    - if can? :edit, Person
      %th
    - if can? :delete, Person
      %th
  - unless @people.empty?
    - @people.each do |person|
      %tr{ :id => dom_id(person) }
        %td= image_tag(person.avatar.micro.url, :class => 'micro-thumb')
        %td= person.full_name
        %td= person.job_title
        %td= person.department
        %td= link_to person.email_address, "mailto:#{person.email_address}"
        %td= value_with_placeholder(person.work_phone_number)
        %td{:class => 'controls'}
          - if logged_in? and can?(:read, person)
            = link_to 'Details', person
          = link_to 'vCard', person_path(person, :format => 'vcf')
          - if can? :edit, person
            = link_to 'Edit', edit_person_path(person)
          - if can? :delete, person
            = link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete
  - else
    %tr{ :colspan => 8 }
      %td No people found

= will_paginate(@people)