%table{:class => 'list'}
  %tr
    %th
    %th Name
    %th Title
    %th Department
    %th E-mail
    %th Work phone
    %th Cell phone
    %th Actions
  - unless @people.empty?
    - @people.each do |person|
      %tr{ :id => dom_id(person) }
        %td= link_to(image_tag(person.avatar.micro.url, :class => 'micro-thumb'), person)
        %td= link_to(person.full_name, person)
        %td= person.job_title
        %td= person.department
        %td= link_to person.email_address, "mailto:#{person.email_address}"
        %td= value_with_placeholder(person.work_phone_number)
        %td= value_with_placeholder(person.home_mobile_number)
        %td{:class => 'controls'}
          - if logged_in? and can?(:read, person)
            = link_to 'Details', person
          = link_to 'vCard', person_path(person, :format => 'vcf')
          - if can? :edit, person
            = link_to 'Edit', edit_person_path(person)
  - else
    %tr{ :colspan => 8 }
      %td No people found

= will_paginate(@people)