= content_for :title do
  %h1 Company Directory
- if can?(:create, Person)
  = content_for :related do
    = link_to 'Create a new person', new_person_path

.filter.container
  = form_tag people_path, :method => :get, :id => 'search_form', :remote => true do
    = label_tag :search, 'Search for a person'
    = text_field_tag :search, params[:search]
    = submit_tag 'Search', :class => 'button'

%br

#people_container
  = render :partial => 'search_results'