= render :partial => 'navigation'

%dl{:class => 'details'}
  %dt Headshot
  - if @person.avatar?
    %dd= image_tag @person.avatar.thumb.url || ''
  - else
    %dd None
  %dt Title
  %dd= value_with_placeholder(@person.job_title)
  %dt Department
  %dd= value_with_placeholder(@person.department)
  %dt E-mail
  %dd= link_to @person.email_address, "mailto:#{@person.email_address}"
  %dt Phone
  %dd= value_with_placeholder(@person.work_phone_number)
  %dt Floor
  %dd= value_with_placeholder(@person.seating_floor)
  %dt Seat
  %dd= value_with_placeholder(@person.seating_number)
  %dt Download vCard
  %dd= link_to 'Click here', person_path(@person, :format => :vcf)

- if @person.bio.present?
  .bio
    %h3 Bio
    %p= @person.bio
    %br

- if can?(:edit, @person)
  .box
    = link_to "Change #{pronoun_for_person(@person)} password", edit_person_credential_path(@person), :class => 'button' if can?(:edit, @person.credential)
    = link_to "Manage #{pronoun_for_person(@person)} services", edit_person_path(@person), :class => 'button' if can?(:manage, :services)
    = link_to "Remove this user", edit_person_path(@person, :method => :delete), :class => 'button', :confirm =>  "Are you sure you want to remove this user?" if can?(:delete, @person)