<h2>Listing Groups</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% unless @groups.empty? %>
  <% @groups.each do |group| %>
    <tr id="<%= dom_id(group) %>">
      <td><%= group.name %></td>
      <td><%= link_to 'Details', group %></td>
      <td><%= link_to 'Edit', edit_group_path(group) %></td>
      <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
<% else %>
  <tr colspan="4">
    <td>No groups found</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
