= content_for :title do
  %h1 Groups
= content_for :related do
  = link_to 'Create a new group', new_group_path

%table{:class => 'list'}
  %tr
    %th Name
    %th

  - unless @groups.empty?
    - @groups.each do |group|
      %tr{:class => cycle('even', 'odd'), :id => dom_id(group)}
        %td= group.name
        %td.controls
          = link_to 'Details', group
          = link_to 'Edit', edit_group_path(group)
          = link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete
  - else
    %tr{:colspan => 2}
      %td No groups found

%br
