- content_for :title do
  %h1= "#{link_to 'Groups', groups_path} &raquo; #{@group.name}".html_safe
- content_for :related do
  = link_to "Edit this group", edit_group_path(@group)

%p
  %h3 Members
  %ul
    - unless @group.people.empty?
      - @group.people.each do |p|
        %li= link_to p.full_name, p
    - else
      %li No Members