%h1= @person.full_name
%h2= "#{@person.job_title} (#{@person.department})"

- if @person.bio.present?
  .bio
    %h3 Bio
    %p= @person.bio
    %br

%dl{:class => 'details'}
  %dt E-mail
  %dd= link_to @person.work_email_address, "mailto:#{@person.work_email_address}"
  %dt Phone
  %dd= value_with_placeholder(@person.work_phone_number)
  %dt Download vCard
  %dd= link_to 'Click here', person_path(@person, :format => :vcf)