%h2= @person.full_name
%h5= "#{@person.job_title} (#{@person.department})"
%h4= link_to @person.work_email_address, "mailto:#{@person.work_email_address}"
%h4= @person.work_phone_number

- if @person.bio.present?
  %p= @person.bio

%p
  = link_to 'Download vCard', person_path(@person, :format => :vcf)