%h1 News
%dl
  %dt I am a news item
  %dd Details go here

%h1 Service Status
%dl
  %dt CORE
  %dd All good

%h1 Quick Links
%dl
  %dt= link_to "CORE", 'http://core.factorylabs.com/'
  %dt= link_to "GMail", 'http://gmail.com/a/factorylabs.com'
  %dt= link_to "Google Calendar", 'http://calendar.google.com/a/factorylabs.com'
  %dt= link_to "Google Docs", 'http://docs.google.com/a/factorylabs.com'
  %dt= link_to "Pivotal Tracker", 'http://pivotaltracker.com/'