= render :partial => 'people/navigation'

%dl{:class => 'details'}
  %dt ID
  %dd= value_with_placeholder @it_profile.id
  %dt Default Username
  %dd= value_with_placeholder @it_profile.default_username
  %dt E-mail Address
  %dd= value_with_placeholder  @it_profile.email_address
  %dt E-mail account active?
  %dd= boolean_to_human(@it_profile.email_account_active).capitalize
  %dt Google Talk Username
  %dd= value_with_placeholder @it_profile.chat_gtalk