%dl
  %dt Default Username
  %dd= value_with_placeholder @it_profile.default_username
  %dt Status
  %dd= value_with_placeholder @it_profile.status
  %dt Type
  %dd= value_with_placeholder @it_profile.type
  %dt E-mail account active?
  %dd= boolean_to_human(@it_profile.email_account_active).capitalize
  %dt AIM Username
  %dd= value_with_placeholder @it_profile.chat_aim
  %dt Skype Username
  %dd= value_with_placeholder @it_profile.chat_skype
  %dt Google Talk Username
  %dd= value_with_placeholder @it_profile.chat_gtalk

= link_to('Back', person_path(@person))