- content_for :title do
  %h1= "#{link_to((pronoun_or_first_name(@person) + ' Information'), person_path(@person))} &raquo; #{pronoun_or_first_name(@person)} IT Profile".html_safe

%dl{:class => 'details'}
  %dt Default Username
  %dd= value_with_placeholder @it_profile.default_username
  %dt E-mail account active?
  %dd= boolean_to_human(@it_profile.email_account_active).capitalize
  %dt AIM Username
  %dd= value_with_placeholder @it_profile.chat_aim
  %dt Skype Username
  %dd= value_with_placeholder @it_profile.chat_skype
  %dt Google Talk Username
  %dd= value_with_placeholder @it_profile.chat_gtalk