- semantic_form_for [@person, @work_profile], :url => person_work_profile_path(@person) do |form|
  = form.inputs :name => "Contact Information" do
    = form.input :work_phone_number, :label => 'Work number'
    = form.input :work_fax_number
    = form.input :work_extension
    = form.input :work_address
    = form.input :work_city
    = form.input :work_state
    = form.input :work_zip
    = form.input :work_country, :as => :select, :collection => Person::COUNTRIES, :include_blank => false
    = form.input :email_address
    = form.input :email_account_active, :as => :boolean

  = form.buttons do
    = form.commit_button