- semantic_form_for [:person, @emergency_profile] do |form|
  = form.inputs :name => "Emergency Profile" do
    = form.input :name
    = form.input :phone_number
    = form.input :relation
  
  = form.buttons do
    = form.commit_button "Update"