- semantic_form_for [:person, @credential] do |form|
  = form.inputs :name => "In order to keep things secure, your password:" do
    %ul
      %li Must be at least 8 characters
      %li Must include at least one uppercase letter
      %li Must include at least one lowercase letter
      %li Must include at least one number
      %li Must not be one of your last 5 passwords
      %li Must be changed every 6 months

  = form.inputs :name => "Change Password" do
    = form.input :password
    = form.input :password_confirmation
  
  = form.buttons do
    = form.commit_button "Change password"

:javascript
  (function($) {
    $(document).ready(function() {
      $("#credential_password, #credential_password_confirmation").chromaHash({bars: 3, salt: "7beisdf8w0rhfslfsdzfdsf", minimum: 8});
    });
  })(jQuery);
