%h3 In order to keep things secure, your password must:
%ul
  %li Be at least 8 characters
  %li Contain at least one uppercase letter
  %li Contain at least one lowercase letter
  %li Contain at least one number
  %li Not be one of your last 5 passwords
  %li be changed every 6 months

- semantic_form_for [:person, @credential] do |form|

  = form.inputs :name => "Enter your new password" do
    = form.input :password
    = form.input :password_confirmation
  
  = form.buttons do
    = form.commit_button "Change password"

:javascript
  (function($) {
    $(document).ready(function() {
      var salt = "glisfwf824yrfjhlsdkfhslayfhlsfh39284";
      $('#credential_password, #credential_password_confirmation').chromaHash({ bars: 3, salt: salt, minimum: 6 });
    });
  })(jQuery);