- semantic_form_for [:person, @facilities_profile] do |form|
  = form.inputs :name => "Facilities Profile" do
    = form.input :avatar, :label => 'Headshot', :as => :file
    = form.input :avatar_cache, :as => :hidden
    = form.input :remove_avatar, :as => :boolean, :label => "Remove Headshot"
    = form.input :seating_floor, :as => :select, :collection => FacilitiesProfile::SEATING_FLOORS, :include_blank => false
    = form.input :seating_number, :as => :select, :collection => FacilitiesProfile::SEATING_NUMBERS, :include_blank => false
    = form.input :building_card
    = form.input :garage_card
    = form.input :fed_ex_account, :label => 'FedEx Account'
  
  = form.buttons do
    = form.commit_button