= render :partial => 'people/navigation'

%dl{:class => 'details'}
  %dt Seating Floor
  %dd= value_with_placeholder @facilities_profile.seating_floor
  %dt Seating Number
  %dd= value_with_placeholder @facilities_profile.seating_number
  %dt Building Card
  %dd= value_with_placeholder @facilities_profile.building_card
  %dt Garage Card
  %dd= value_with_placeholder @facilities_profile.garage_card
  %dt FedEx Account
  %dd= value_with_placeholder @facilities_profile.fed_ex_account