- content_for :title do
  %h1= "#{link_to((pronoun_or_first_name(@person) + ' Information'), person_path(@person))} &raquo; #{pronoun_or_first_name(@person)} Facilities Profile".html_safe
%dl{:class => 'details'}
  %dt Seating Floor
  %dd= value_with_placeholder @facilities_profile.seating_floor
  %dt Seating Number
  %dd= value_with_placeholder @facilities_profile.seating_number
  %dt Building Card
  %dd= value_with_placeholder @facilities_profile.building_card
  %dt Garage Card
  %dd= value_with_placeholder @facilities_profile.garage_card
  %dt FedEx Account
  %dd= value_with_placeholder @facilities_profile.fed_ex_account