- semantic_navigation :primary, :html => {:class => 'navigation'} do |n|
  - if logged_in?
    = n.group "Home" do
      = n.item "My Dashboard", :link => root_path
    = n.group "My Profile" do
      = n.item "Manage My Information", :link => my_profile_path
      = n.item "Change My Password", :link => edit_person_credential_path(current_credential.person)
  = n.group "People" do
    = n.item "Company Directory", :link => people_path if can?(:read, PublicProfile)
    = n.item "Download All Contacts", :link => people_path(:format => :vcf)
  - if can?(:manage, Group)
    = n.group "Groups" do
      = n.item "Manage Groups", :link => groups_path
  - if can?(:manage, Asset)
    = n.group "Assets" do
      = n.item "Manage Assets", :link => assets_path
  - if can?(:manage, Service)
    = n.group "Services" do
      = n.item "Manage Services", :link => services_path