- semantic_navigation :primary, :html => {:class => 'navigation'} do |n|
  - if logged_in?
    = n.group "Home" do
      = n.item "My Dashboard", :link => root_path
    = n.group "My Profile" do
      = n.item "Manage My Information", :link => my_profile_path
      = n.item "Change My Password", :link => edit_person_credential_path(current_credential.person)
  = n.group "People" do
    = n.item "Search Directory", :link => search_people_path if can?(:read, PublicProfile)
    = n.item "Download Contacts", :link => people_path(:format => :vcf)
    = n.item "Manage People", :link => people_path if can?(:manage, Person)
  - if can?(:manage, Group)
    = n.group "Groups" do
      = n.item "Manage Groups", :link => groups_path