!!!
%html{ "xml:lang" => "en", :lang => "en"}
  %head
    %title= site_title
    %link{ :href => "/favicon.ico", :rel => "shortcut icon" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :content => "en", "http-equiv" => "content-language" }
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %meta{ :name => "layout", :content => "protosite" }

    = csrf_meta_tag

    = stylesheet_link_tag 'protosite_backend', 'application', :media => 'all', :cache => true

    = javascript_include_tag :defaults, 'chroma-hash', :cache => true

    = content_for :head
  %body{ :id => "#{controller.controller_name.underscore}_controller", :class => "#{controller.action_name.dasherize}-action without-javascript" }
    #background
    #body
      #header
        #title
          #control{ :class => 'with-logo' }
            %h1.title= site_title
            #controls
              - if logged_in?
                %h2= "Welcome, #{current_credential.person.full_name}!"
              #links
                - if logged_in?
                  = link_to 'Sign out', destroy_credential_session_path
                - else
                  = link_to 'Sign in', new_credential_session_path
          #logo= image_tag 'protosite/client-logo.png'
      #protosite_navigation
        -#%a{ :href => '#', :id => 'to_site_link', :title => "Jump to Site" }
        = render :partial => '/layouts/navigation'
      #content
        #content_outer
          #content_inner
            .content
              = content_tag(:div, content_for(:left_related), :class => 'left-related') if content_for?(:left_related)
              = content_tag(:div, content_for(:related), :class => 'related') if content_for?(:related)
              = flash_messages
              = content_tag(:div, content_for(:title)) if content_for?(:title)
              = yield
            #footer
              %small &copy; Copyright Factory Design Labs&reg; | Factory Design Labs is a registered trademark of Factory Design Labs LLC and its affiliate groups.

-#!!!
-#%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
-#  %head
-#    %meta{ :content => "IE=8", "http-equiv" => "X-UA-Compatible" }
-#    %title FDL :: People
-#    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
-#    %meta{ :content => "en", "http-equiv" => "content-language" }
-#    = csrf_meta_tag
-#    = stylesheet_link_tag 'session_bug', 'admin', 'flutie', 'application', :media => 'all'
-#    = javascript_include_tag :defaults, 'application', 'chroma-hash'
-#    = yield :head
-#
-#  %body
-#    #header
-#      #tip_top_nav
-#        .standard_site_width
-#          = session_bug
-#          %h1
-#            %em Factory Design Labs
-#      #top_nav
-#        .standard_site_width
-#          %ul
-#            %li.home= link_to "<em>Home</em>".html_safe, root_path
-#            %li= nav_item("My Profile", my_profile_path) if logged_in?
-#            %li= nav_item("Change My Password", edit_person_credential_path(current_credential.person)) if logged_in?
-#            %li= nav_item("Company Directory", search_people_path, :section => "people") if can?(:read, PublicProfile)
-#            %li= nav_item("Manage People", people_path, :section => "people") if can?(:manage, Person)
-#            %li= nav_item("Manage Groups", groups_path, :section => "groups") if can?(:manage, Group)
-#    #content.standard_site_width
-#      = flash_messages
-#      - if content_for?(:context_navigation)
-#        #context_nav
-#          = yield :context_navigation
-#      = yield