!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "IE=8", "http-equiv" => "X-UA-Compatible" }
    %title FDL :: People
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :content => "en", "http-equiv" => "content-language" }
    = csrf_meta_tag
    = stylesheet_link_tag 'session_bug', 'admin', 'flutie', 'application', :media => 'all'
    = javascript_include_tag :defaults, 'application', 'chroma-hash'
    = yield :head

  %body
    #header
      #tip_top_nav
        .standard_site_width
          = session_bug
          %h1
            %em Factory Design Labs
      #top_nav
        .standard_site_width
          %ul
            %li.home= link_to "<em>Home</em>".html_safe, root_path
            %li= nav_item("My Profile", my_profile_path) if logged_in?
            %li= nav_item("Change My Password", edit_person_credential_path(current_credential.person)) if logged_in?
            %li= nav_item("Company Directory", search_people_path, :section => "people") if logged_in?
            %li= nav_item("Manage People", people_path, :section => "people") if can?(:manage, Person)
            %li= nav_item("Manage Groups", groups_path, :section => "groups") if can?(:manage, Group)
    #content.standard_site_width
      = flash_messages
      - if content_for?(:context_navigation)
        #context_nav
          = yield :context_navigation
      = yield